extends _layout/layout2
//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
//- Phần khai báo body
block body

	section.menu
		.container-fluid
			.row
				nav.navbar.navbar-expand-lg
					a.navbar-brand(href='index.html').ml-auto.order-2.order-md-1
						img(src="./img/logo.png", alt="")
					button.order-1.order-md-2.navbar-toggler.navbar-dark(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					.hiddenCollapse
					#navbarNavAltMarkup.collapse.navbar-collapse.order-3
						.navbar-nav
							a.nav-item.nav-link.active(href='#')
								| Trang chủ
								span.sr-only (current)
							a.nav-item.nav-link(href='#') Danh mục
							a.nav-item.nav-link(href='#') Phim lẻ
							a.nav-item.nav-link(href='#') Phim bộ
							a.nav-item.nav-link(href='#') Người
							a.nav-item.nav-link(href='#') Quốc gia
							a.nav-item.nav-link(href='#') Bình luận
							a.nav-item.nav-link(href='#') Gói phim
	section.main-movie
		.container-fluid
			.row.no-gutters
				.col-md-3.pl-0.pr-0
					.tool
						.search
							input.input-search(type="text" placeholder="Tìm kiếm ...")
							.icon-search
								a(href="")
									.btn-btn-search
										i.fas.fa-search
						.insert
							#v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
								a#v-pills-home-tab.nav-link.active(data-toggle='pill', href='#v-pills-home', role='tab', aria-controls='v-pills-home', aria-selected='true') Thêm Phim
								a#v-pills-profile-tab.nav-link(data-toggle='pill', href='#v-pills-profile', role='tab', aria-controls='v-pills-profile', aria-selected='false') All phim
				.col-md-9
					.show
						#v-pills-tabContent.tab-content
							#v-pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-home-tab')
								.row
									.col-12.col-md-4
										.row
											.col-12
												.input-show
													label Tên phim
													</br>
													input(type="text")
											.col-12
												.input-show
													label Link1
													</br>
													input(type="text")
											.col-12
												.input-show
													label Link 2
													</br>
													input(type="text")
											.col-12
												.input-show
													label Link 3
													</br>
													input(type="text")
											.col-12
												.row
													.col-6
														.input-show
															label Thể loại
															</br>
															select.btn.btn-defaut
																option Hành động
																option Kinh dị
																option Tình cảm
																option Đờ ra mà
													.col-6
														.input-show
															label Quốc gia
															</br>
															select.btn.btn-defaut
																option Việt nam
																option Mỹ
																option Hàn Quốc
																option Trung Quốc
											.col-12
												.row
													.col-4
														.input-show
															label IBMS
															</br>
															input(type="text")
													.col-8
														.row.pt-3
															.col-6
																.input-checkbox
																	input(type="checkbox")
																	label SD
															.col-6
																.input-checkbox
																	input(type="checkbox")
																	label HD	
															.col-6
																.input-checkbox
																	input(type="checkbox")
																	label FHD	
									.col-12.col-md-8
										.row
											.col-12
												.input-show
													label Mô tả 1
													</br>
													textarea( rows="5")
											.col-12
												.input-show
													label Mô tả 2
													</br>
													textarea( rows="5")
																				
											.col-12.d-flex.align-items-center
												label.mb-0.mr-2 Hình ảnh:
												input(type="file" )
											.col-12
												.input-submit
													input.btn.btn-info(type="submit" value="Thêm")
												.input-submit
													input.btn.btn-info(type="submit" value="Reset")
							#v-pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-profile-tab')
								.row
									.col-sm-12-col-md-3.ml-auto
										.select
												select.btn-info.btn-select.mr-2(name="")
													option(value="") Tên
													option(value="") Thể loại
													option(value="") Quốc gia
												button.btn-primary.btn-button Sắp xếp theo thứ tự
									.col-12.pl-0.pr-0
										table.table.text-center.mt-2
											thead.thead-dark
												tr
													th(scope='col')
														input(type="checkbox")
													th(scope='col') Mã
													th(scope='col') Tên phim
													th(scope='col') IBMS
													th(scope='col') Thể loại
													th(scope='col') Độ phân giải
													th(scope='col') View
													th(scope='col') Hình ảnh
													th(scope='col') Xóa
													th(scope='col') Sửa
											tbody
												tr
													td(scope='row')
														input(type="checkbox")
													td 1
													td Otto
													td kinh dị
													td 8.1
													td FHD 
													td
														// Button trigger modal
														button(type='button', data-toggle='modal', data-target='#exampleModal')
															i.far.fa-eye
														// Modal
														#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
															.modal-dialog(role='document')
																.modal-content
																	.modal-header
																		h5#exampleModalLabel.modal-title THÔNG TIN CHI TIẾT PHIM
																		button.close(type='button', data-dismiss='modal', aria-label='Close')
																			span(aria-hidden='true') ×
																	.modal-body
																		.row
																			.col-3
																				.row
																					.col-12.text-left
																						p ID: 1
																					.col-12.text-left
																						p Tên phim: Em chưa 12
																					.col-12.text-left
																						p IBMS: 8.2
																					.col-12.text-left
																						p Lượt xem: 200
																					.col-12.text-left
																						p Phát hành năm: 1980
																					.col-12.text-left
																						p Thời gian: 120 phút
																					.col-12.text-left
																						p Thể loại: Kinh dị
																					.col-12.text-left
																						p Quốc gia: VN
																					.col-12.text-left
																						p Tuổi: 18
																					.col-12.text-left
																						P Độ phân giải: Full HD
																			.col-9
																				.col-12.text-left
																					p Mô tả dài: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam distinctio optio, delectus iste corporis nam ea perspiciatis aspernatur vero quaerat, sit perferendis quasi quae! Voluptatem veniam expedita provident consequuntur quidem!
																				.col-12.text-left
																					p Mô tả ngắn: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam distinctio optio, delectus iste corporis nam ea perspiciatis aspernatur vero quaerat, sit perferendis quasi quae! Voluptatem veniam expedita provident consequuntur quidem!
																	.modal-footer
																		button.btn.btn-secondary(type='button', data-dismiss='modal') Close
													td
														// Button trigger modal
														button(type='button', data-toggle='modal', data-target='#Modal1')
															i.fas.fa-edit
														// Modal
														#Modal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Modal1Label', aria-hidden='true')
															.modal-dialog(role='document')
																.modal-content
																	.modal-header
																		h5#exampleModalLabel.modal-title HÌNH ẢNH
																		button.close(type='button', data-dismiss='modal', aria-label='Close')
																			span(aria-hidden='true') ×
																	.modal-body
																		.row
																			.col-2
																				figure 
																					img.img-fluid(src="./img/home__bg.jpg", alt="")
																			.col-2
																				figure 
																					img.img-fluid(src="./img/home__bg2.jpg", alt="")
																			.col-2
																				figure 
																					img.img-fluid(src="./img/home__bg3.jpg", alt="")
																			.col-2
																				figure 
																					img.img-fluid(src="./img/home__bg4.jpg", alt="")
																			.col-2
																				figure 
																					img.img-fluid(src="./img/home__bg3.jpg", alt="")
																			.col-2
																				figure 
																					img.img-fluid(src="./img/home__bg2.jpg", alt="")
																			.col-2
																				figure 
																					img.img-fluid(src="./img/home__bg4.jpg", alt="")
																			.col-2
																				figure 
																					img.img-fluid(src="./img/home__bg.jpg", alt="")
																			.col-2
																				figure 
																					img.img-fluid(src="./img/home__bg.jpg", alt="")
																			.col-12.d-flex.align-items-center
																				label.m-0.pr-2 Thêm hình ảnh:
																				input(type="file")
																			.col-12.d-flex
																				input.btn.btn-info(type="submit" value="Thêm")
																	.modal-footer
																		button.btn.btn-secondary(type='button', data-dismiss='modal') Close
													td 
														a(href="#")
															i.fas.fa-trash-alt
													td 
														a(href="#")
															i.fas.fa-pencil-alt
